@model Assignment_2.Models.StudentViewModel
@{
    ViewBag.Title = "StudentDetail";
    Layout = "~/Views/Shared/_LayoutOperation.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @Model.StudentName
            </h1>
            <ol class="breadcrumb">
                <li>
                    Home
                </li>
                <li class="active">Student Repport</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#g1" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                Courses
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="g1" style="height: 0px;">
                        <div class="panel-body">
                            <table class="table table-hover"  style="font-size:20px;">
                                <thead>
                                    <tr>
                                        <th>Course Name </th>
                                        <th>Last Accessed</th>
                                        <th>Progress</th>
                                        <th>Activity Used</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.StudentCourseDetail != null)
                                    {
                                        foreach (var x in Model.StudentCourseDetail)
                                        {
                                            <tr>
                                                @if (x.CourseId.Value.ToString() == "3E851245-056E-40BA-8767-5C662F0D0C86")
                                                {
                                                    <td>JavascriptBeginner </td>
                                                }
                                                else
                                                {
                                                    <td>JavascriptAdvanced</td>
                                                }
                                                <td>@x.LastAccessed.Value.ToShortDateString() @x.LastAccessed.Value.ToShortTimeString()</td>
                                                <td>@x.ProgressStatus%</td>
                                                <td>@x.StatusTotal</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#g2" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                    Quiz
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="g2" style="height: 0px;">
                            <div class="panel-body">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>Course </th>
                                            <th>Score</th>
                                            <th>Attampt Date</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.StudentQuizDetails != null)
                                        {
                                            foreach (var x in Model.StudentQuizDetails)
                                            {
                                                <tr>
                                                    @if (x.QuizId.Value.ToString() == "1112feeb-2b62-4031-b208-3d1f54178bda")
                                                    {
                                                        <td>JavascriptBeginner </td>
                                                    }
                                                    else
                                                    {
                                                        <td>JavascriptAdvanced</td>
                                                    }
                                                    @if (x.Result.Value < 50)
                                                    {
                                                        <td style="color:black" bgcolor="#ff4d4d">@x.Result%</td>
                                                    }
                                                    else if (x.Result.Value > 50 && x.Result.Value < 75)
                                                    {
                                                        <td style="color:black" bgcolor="#ffb84d">@x.Result%</td>
                                                    }
                                                    else
                                                    {
                                                        <td style="color:black" bgcolor="#00e673">@x.Result%</td>
                                                    }
                                                    
                                                    <td>@x.DateCreated.Value.ToShortDateString() @x.DateCreated.Value.ToShortTimeString()</td>

                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
